//- card infographics
.grid
  .grid__item.width-1-2.width-1-4-lg
    .card-infographics.card-infographics_outer-position_right.card-infographics_outer-position_lower
      figure.card-infographics__figure.card-infographics__figure_outer-position-figure_1
        img.card-infographics__picture(src="../img/infographic-search-doc.png", alt="search doc")
  .grid__item.width-1-2.width-1-4-lg
    .card-infographics.card-infographics_outer-position_left.card-infographics_outer-position_lower
      figure.card-infographics__figure.card-infographics__figure_outer-position-figure_2
        img.card-infographics__picture(src="../img/infographic-doc.png", alt="doc")
  .grid__item.width-1-2.width-1-4-lg
    .card-infographics.card-infographics_outer-position_right.card-infographics_outer-position_lower
      figure.card-infographics__figure.card-infographics__figure_outer-position-figure_3.card-infographics__figure_size_small
        img.card-infographics__picture(src="../img/infographic-libra.png", alt="libra")
  .grid__item.width-1-2.width-1-4-lg
    .card-infographics.card-infographics_outer-position_left.card-infographics_outer-position_lower
      figure.card-infographics__figure.card-infographics__figure_outer-position-figure_4
        img.card-infographics__picture(src="../img/infographic-book.png", alt="book")
  .grid__item.width-1-2.width-1-4-lg
    .card-infographics.card-infographics_outer-position_right
      figure.card-infographics__figure.card-infographics__figure_outer-position-figure_5.card-infographics__figure_size_medium
        img.card-infographics__picture(src="../img/infographic-man.png", alt="man")
  .grid__item.width-1-2.width-1-4-lg
    .card-infographics.card-infographics_outer-position_left
      figure.card-infographics__figure.card-infographics__figure_outer-position-figure_6
        img.card-infographics__picture(src="../img/infographic-calc.png", alt="calc")
  .grid__item.width-1-2.width-1-4-lg
    .card-infographics.card-infographics_outer-position_right
      figure.card-infographics__figure.card-infographics__figure_outer-position-figure_7.card-infographics__figure_size_medium
        img.card-infographics__picture(src="../img/infographic-money.png", alt="money")
  .grid__item.width-1-2.width-1-4-lg
    .card-infographics.card-infographics_outer-position_left
      figure.card-infographics__figure.card-infographics__figure_outer-position-figure_8
        img.card-infographics__picture(src="../img/infographic-result.png", alt="result")
