.card-merit
  .card-merit__box-content-top
    figure.card-merit__figure
      img.card-merit__picture(src="img/question.png", alt="question")
  .card-merit__box-content-bottom
    p.card-merit__txt За последний год работы мы уже помогли
      span.card-merit__txt.card-merit__txt_bold  более, чем 150 клиентам
      |  выйти из трудной ситуации!
