/*grid*/
.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: -10px;
}

.grid_height_full {
  height: 100%;
}

.grid {
  &_xl-indent-outer {
    @media (min-width: $xl) {
      margin: -15px;
    }
  }
}

.grid > .grid__item {
  padding: 10px;
}

.grid > .grid__item {
  &_xl-indent-inner {
    @media (min-width: $xl) {
      padding: 5px;
    }
  }
  &_md-indent-inner {
    @media (min-width: $md) {
      padding: 6px;
    }
  }
}
