.slider-step
  .swiper-container#swiperContainerSliderStep
    .swiper-wrapper
      .swiper-slide.slider-step__slide
        .slider-step__content
          .slider-step__box-text
            span.slider-step__title Подготовка и сбор документов
            span.slider-step__txt Мы соберем и подготовим комплект документов более чем из 17 позиций.&nbsp;
              span.slider-step__txt_position   Вам не нужно будет посещать: банки, МФЦ, ПФР, ИНФНС, ГИБДД и другие места,&nbsp;
              span.slider-step__txt_position мы сделаем это за вас!
          .slider-step__box-button
            a.button.button_middle.slider-step__button(href="#" tabindex="-1")
              span.button__txt Начать процедуру банкротства
      .swiper-slide.slider-step__slide
        .slider-step__content
          .slider-step__box-text
            span.slider-step__title Поможем составить заявления
            span.slider-step__txt Мы накопили обширный опыт и сможем грамотно про анализировать документы.&nbsp;
              | На основе этих документов и проведенного анализа,
              | поможем с Заявлением о признании банкротом.
          .slider-step__box-button
            a.button.button_middle.slider-step__button(href="#" tabindex="-1")
              span.button__txt Начать процедуру банкротства
      .swiper-slide.slider-step__slide
        .slider-step__content
          .slider-step__box-text
            span.slider-step__title Подача документов в&nbsp;суд
            span.slider-step__txt Сделаем чтобы суд принял заявление в течении трех&nbsp;дней.&nbsp;
              | После чего состоится первое заседание.
              | На нём будет рассмотрение заявление, и назначен арбитражный управляющий.
          .slider-step__box-button
            a.button.button_middle.slider-step__button(href="#" tabindex="-1")
              span.button__txt Начать процедуру банкротства
      .swiper-slide.slider-step__slide
        .slider-step__content
          .slider-step__box-text
            span.slider-step__title Назначение управляющего
            span.slider-step__txt Постараемся чтобы быстро назначали финансового управляющего.&nbsp;
              | Поможем вам направить документы в СРО. Проведём нужные переговоры с СРО.
              | Составим план дальнейших действий.
          .slider-step__box-button
            a.button.button_middle.slider-step__button(href="#" tabindex="-1")
              span.button__txt Начать процедуру банкротства
      .swiper-slide.slider-step__slide
        .slider-step__content
          .slider-step__box-text
            span.slider-step__title Реструктуризация долгов
            span.slider-step__txt Наши юристы помогут составить план реструктуризации.&nbsp;
              | Подготовим должника к собранию кредиторов, дадим  необходимые инструкции.
              | Назначим куратора собрания кредиторов.
          .slider-step__box-button
            a.button.button_middle.slider-step__button(href="#" tabindex="-1")
              span.button__txt Начать процедуру банкротства
      .swiper-slide.slider-step__slide
        .slider-step__content
          .slider-step__box-text
            span.slider-step__title Переговоры с кредиторами
            span.slider-step__txt На собрании кредиторов проведём переговоры.&nbsp;
              | Представим кредиторам обширный план реструктуризации долгов.
              | Также представим кредиторам отчёт финансового анализа долгов.
          .slider-step__box-button
            a.button.button_middle.slider-step__button(href="#" tabindex="-1")
              span.button__txt Начать процедуру банкротства
      .swiper-slide.slider-step__slide
        .slider-step__content
          .slider-step__box-text
            span.slider-step__title Быстрая реализация имущества
            span.slider-step__txt Походатайствуем чтобы реализация имущества правилась быстро.&nbsp;
              | Будем поддерживать контакт с кредиторами.
              | Смотреть чтобы все придерживались плану реструктуризации долгов.
          .slider-step__box-button
            a.button.button_middle.slider-step__button(href="#" tabindex="-1")
              span.button__txt Начать процедуру банкротства
      .swiper-slide.slider-step__slide
        .slider-step__content
          .slider-step__box-text
            span.slider-step__title Признание должника банкротом
            span.slider-step__txt Проконтролируем процесс погашения требования кредиторов. &nbsp;
              | Проведем юридически грамотное списание долгов.
              | Добьемся быстрого заключения, признание должника банкротом.
          .slider-step__box-button
            a.button.button_middle.slider-step__button(href="#" tabindex="-1")
              span.button__txt Начать процедуру банкротства
  .slider-step__control-panel
    .button-arrow.button-arrow_slim.icon-arrow-right.slider-step-button-next
    .button-arrow.button-arrow_slim.icon-arrow-left.slider-step-button-prev
  .slider-step__box-pagination
    .slider-step__pagination
