.slider-work
  .swiper-container#swiperContainerSliderWork
    .swiper-wrapper.slider-work__wrapper
      .swiper-slide.slider-work__slide
        .slider-work__content
          a.slider-work__link(href="docs/doc1.pdf" target="_blank")
            figure.slider-work__figure
              img.slider-work__picture(src="img/doc1.png", alt="document")
            .slider-work__overlay
      .swiper-slide.slider-work__slide
        .slider-work__content
          a.slider-work__link(href="docs/doc2.pdf" target="_blank")
            figure.slider-work__figure
              img.slider-work__picture(src="img/doc2.png", alt="document")
            .slider-work__overlay
      .swiper-slide.slider-work__slide
        .slider-work__content
          a.slider-work__link(href="docs/doc3.pdf" target="_blank")
            figure.slider-work__figure
              img.slider-work__picture(src="img/doc3.png", alt="document")
            .slider-work__overlay
      .swiper-slide.slider-work__slide
        .slider-work__content
          a.slider-work__link(href="docs/doc4.pdf" target="_blank")
            figure.slider-work__figure
              img.slider-work__picture(src="img/doc4.png", alt="document")
            .slider-work__overlay
      .swiper-slide.slider-work__slide
        .slider-work__content
          a.slider-work__link(href="docs/doc5.pdf" target="_blank")
            figure.slider-work__figure
              img.slider-work__picture(src="img/doc5.png", alt="document")
            .slider-work__overlay
      .swiper-slide.slider-work__slide
        .slider-work__content
          a.slider-work__link(href="docs/doc6.pdf" target="_blank")
            figure.slider-work__figure
              img.slider-work__picture(src="img/doc6.png", alt="document")
            .slider-work__overlay
  .slider-work__control-panel
    .button-arrow.button-arrow_outer-position_right.button-arrow_slim.icon-arrow-right.slider-work-button-next
    .button-arrow.button-arrow_outer-position_left.button-arrow_slim.icon-arrow-left.slider-work-button-prev
  .slider-work__box-pagination
    .slider-work__pagination
