.slider-hero
  .swiper-container#swiperContainerSliderHero
    .swiper-wrapper
      .swiper-slide
        .slider-hero__content
          .slider-hero__content-top
            span.slider-hero__txt.slider-hero__txt_position Самые лучшие
            span.slider-hero__txt эксперты!
          .slider-hero__content-bottom
            .slider-hero__box-button
              a.button.button_middle(href="#" tabindex="-1")
                span.button__txt.button__txt_small Подробная консультация
      .swiper-slide
        .slider-hero__content
          .slider-hero__content-top
            span.slider-hero__txt.slider-hero__txt_position Помощь с
            span.slider-hero__txt документами!
          .slider-hero__content-bottom
            .slider-hero__box-button
              a.button.button_middle(href="#" tabindex="-1")
                span.button__txt.button__txt_small Подробная консультация
      .swiper-slide
        .slider-hero__content
          .slider-hero__content-top
            span.slider-hero__txt.slider-hero__txt_position Избавьтесь от долгов
            span.slider-hero__txt совершенно легально!
          .slider-hero__content-bottom
            .slider-hero__box-button
              a.button.button_middle(href="#" tabindex="-1")
                span.button__txt.button__txt_small Подробная консультация
  .slider-hero__control-panel
    .button-arrow.button-arrow_bold.button-arrow_position.button-arrow_position_right.icon-arrow-big-right.slider-hero-button-next
    .button-arrow.button-arrow_bold.button-arrow_position.button-arrow_position_left.icon-arrow-big-left.slider-hero-button-prev
  .slider-hero__box-pagination
    .swiper-pagination
