/*card*/
// card-merit
.card-merit {
  position: relative;
  &__box-content-top {
    @media (min-width: $lg) {
      position: absolute;
      top: -55px;
      z-index: -1;
    }
    @media (min-width: $xl) {
      top: -50px;
    }
  }
  &__figure {
    margin: 0 auto;
    width: 90px;
    height: 87px;
    object-fit: contain;
  }
  &__picture {
  }
  &__box-content-bottom {
    margin: 0 auto;
    width: 290px;
    @media (min-width: $md) {
      width: 300px;
    }
    @media (min-width: $xl) {
      width: 320px;
      margin-left: 58px;
    }
  }
  &__txt {
    font-size: 18px;
    font-style: italic;
    line-height: 25px;
    @media (min-width: $sm) {
      font-size: 19px;
    }
    @media (min-width: $md) {
      font-size: 20px;
    }
    @media (min-width: $xl) {
      font-size: 21px;
    }
    &_bold {
      font-weight: bold;
    }
  }
}
// card-info
.card-info {
  max-width: 300px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  @media (min-width: $md) {
    max-width: 350px;
    margin-bottom: 25px;
    align-items: center;
  }
  @media (min-width: $lg) {
    margin-bottom: 40px;
  }
  @media (min-width: $xl) {
    max-width: 482px;
    margin-bottom: 60px;
    flex-direction: row;
    text-align: left;
  }
  &_inner-position {
    &_right {
      @media (min-width: $lg) {
        margin-right: 0;
        margin-left: auto;
      }
      @media (min-width: $xl) {
        margin-right: 6px;
      }
    }
    &_left {
      @media (min-width: $lg) {
        margin-right: auto;
        margin-left: 0;
      }
      @media (min-width: $xl) {
        margin-left: 60px;
      }
    }
    &_top {
      @media (min-width: $xl) {
        padding-top: 15px;
      }
    }
    &_special-align {
      @media (min-width: $xl) {
        margin-top: 1px;
        margin-right: 4px;
      }
    }
  }
  &_outer-position {
    &_top-deep {
      @media (min-width: $xl) {
        margin-top: -20px;
      }
    }
    &_top-small {
      @media (min-width: $xl) {
        margin-top: -10px;
      }
    }
  }
  &__box-content-top {
  }
  &__figure {
    margin-bottom: 5px;
    @media (min-width: $md) {
      margin: 0;
    }
    &_inner-position {
      &_left {
        @media (min-width: $xl) {
          padding-left: 12px;
        }
      }
    }
    &_outer-position {
      &_bottom {
        @media (min-width: $lg) {
          position: relative;
          bottom: -10px;
        }
        @media (min-width: $xl) {
          position: static;
        }
      }
    }
  }
  &__picture {
    max-width: 145px;
    max-height: 145px;
    @media (min-width: $md) {
      max-width: 165px;
      max-height: 165px;
    }
    @media (min-width: $xl) {
      max-width: 177px;
      max-height: 177px;
    }
  }
  &__box-content-bottom {
    margin-bottom: 30px;
    @media (min-width: $md) {
      padding-left: 10px;
      margin-bottom: 0;
    }
    @media (min-width: $xl) {
      padding-left: 0;
      position: relative;
      top: 72px;
      left: -6px;
    }
    &_inner-position {
      &_top {
        @media (min-width: $lg) {
          padding-top: 10px;
        }
        @media (min-width: $xl) {
          padding-top: 0;
        }
      }
    }
    &_outer-position {
      &_top {
        @media (min-width: $xl) {
          margin-top: -15px;
        }
      }
      &_left {
        margin-left: -14px;
      }
    }
  }
  &__txt {
    @extend .card-merit__txt;
    display: inline;
    font-size: 16px;
    @media (min-width: $sm) {
      font-size: 17px;
    }
    @media (min-width: $md) {
      font-size: 18px;
    }
    @media (min-width: $xl) {
      font-size: 19px;
    }
    &_bold {
      @extend .card-merit__txt_bold;
    }
    &_inner-position {
      display: block;
      @media (min-width: $xl) {
        display: inline;
      }
    }
    &_md-inner-position {
      @media (min-width: $md) {
        display: block;
      }
    }
    &_xl-inner-position {
      @media (min-width: $xl) {
        display: block;
      }
    }
  }
}
// card feature
.card-feature {
  position: relative;
  margin-bottom: 30px;
  &__box-content-top {
    margin-bottom: 10px;
    @media (min-width: $xl) {
      position: absolute;
      top: -60px;
      left: 6px;
      z-index: 1;
    }
    &_outer-position {
      &_left-small {
        @media (min-width: $xl) {
          left: 10px;
        }
      }
      &_left-deep {
        @media (min-width: $xl) {
          left: 16px;
        }
      }
    }
  }
  &__figure {
    @extend .card-merit__figure;
    width: 100px;
    height: 100px;
  }
  &__picture {
  }
  &__box-content-bottom {
    @extend .card-merit__box-content-bottom;
    margin: 0 auto;
    text-align: center;
    @media (min-width: $xl) {
      margin-left: 58px;
      padding-left: 13px;
      text-align: left;
      position: relative;
      z-index: 2;
    }
    &_outer-position {
      &_left-small {
        @media (min-width: $xl) {
          left: 5px;
        }
      }
      &_left-deep {
        @media (min-width: $xl) {
          left: 10px;
        }
      }
    }
  }
  &__title {
    margin-bottom: 10px;
    font-size: 19px;
    font-style: italic;
    font-weight: bold;
    @media (min-width: $sm) {
      font-size: 20px;
    }
    @media (min-width: $md) {
      font-size: 21px;
    }
    @media (min-width: $xl) {
      margin-bottom: 16px;
      font-size: 22px;
    }
  }
  &__txt {
    margin: 0;
    font-size: 13px;
    font-family: "Roboto";
    line-height: 20px;
    font-weight: 300;
    color: $swatch_9;
    @media (min-width: $sm) {
      font-size: 14px;
    }
  }
}
