/*section*/
.section {
  padding-top: 75px;
  @media (min-width: $lg) {
    padding-top: 100px;
  }
  &__background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: -2;
  }
  &__background > .section__picture {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  &__foreground {
    position: relative;
    z-index: 1;
  }
}
// section hero
.section-hero {
  padding-top: 0;
  height: 620px;
  display: flex;
  flex-direction: column;
  &__content-top {
    position: relative;
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: $swatch_1;
    text-align: center;
    @media (min-width: $xl) {
      padding-top: 42px;
      padding-bottom: 48px;
    }
    &_figure-triangle::after {
      @media (min-width: $md) {
        content: "";
        width: 0;
        margin: 0px -25px;
        border: 32px solid transparent;
        border-top: 32px solid $swatch_1;
        position: absolute;
        top: 178px;
      }
      @media (min-width: $xl) {
        top: 188px;
      }
      @media (min-width: $ultra) {
        top: 183px;
      }
    }
  }
  &__heading {
    margin-bottom: 0;
    color: $swatch_2;
    font-size: 28px;
    @media (min-width: $sm) {
      font-size: 30px;
    }
    @media (min-width: $md) {
      font-size: 32px;
    }
    @media (min-width: $lg) {
      font-size: 35px;
    }
    @media (min-width: $xl) {
      font-size: 45px;
    }
    &_position {
      display: block;
      @media (min-width: $md) {
        display: inline;
      }
    }
  }
  &__subtitle {
    @extend .section-hero__heading;
    display: block;
    margin-top: 20px;
    font-size: 23px;
    font-weight: bold;
    @media (min-width: $sm) {
      font-size: 25px;
    }
    @media (min-width: $md) {
      font-size: 26px;
    }
    @media (min-width: $xl) {
      margin-top: 15px;
      font-size: 29px;
    }
  }
  &__box-content-text {
  }
  &__content-bottom {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  &__box-content {
  }
  &__box-slider {
    margin-top: 175px;
    @media (min-width: $sm) {
      margin-top: 165px;
    }
    @media (min-width: $md) {
      margin-top: 130px;
    }
    @media (min-width: $lg) {
      margin-top: 125px;
    }
  }
  &__wrap {
    max-width: 1165px;
    position: relative;
    z-index: -1;
  }
  &__box-figure {
    width: 300px;
    position: absolute;
    top: 9px;
    z-index: -1;
    @media (min-width: $sm) {
      top: -22px;
    }
    @media (min-width: $md) {
      top: -16px;
    }
    @media (min-width: $lg) {
      top: -41px;
    }
    @media (min-width: $xl) {
      margin-left: -8px;
      top: -50px;
    }
    &_hide {
      display: none;
    }
    &_visible {
      @media (min-width: $lg) {
        display: block;
      }
    }
    &_position {
      @media (min-width: $lg) {
        right: 15px;
        top: -220px;
      }
      @media (min-width: $xl) {
        right: 23px;
        top: -185px;
      }
      @media (min-width: $xxl) {
        right: -91px;
        top: -168px;
      }
    }
  }
  &__figure {
    width: 85%;
    margin: auto;
    @media (min-width: $sm) {
      width: 90%;
    }
    @media (min-width: $md) {
      width: 95%;
    }
    @media (min-width: $lg) {
      width: 100%;
    }
    @media (min-width: $xl) {
      width: 102%;
    }
    &_size {
      @media (min-width: $lg) {
        width: 150%;
      }
      @media (min-width: $xl) {
        width: 180%;
      }
      @media (min-width: $xxl) {
        width: 200%;
      }
    }
  }
  &__picture {
  }
  // arrow down
  .js-arrow-down::after {
    font-family: $icomoon-font-family;
    content: $icon-arrow-big-right;
    font-size: 50px;
    color: $swatch_16;
    transform: rotate(90deg);
    position: absolute;
    z-index: 3;
    width: 50px;
    height: 50px;
    top: 10px;
    left: 50%;
    margin-left: -20px;
    @include animationMoving(arrow-down, top, -7, 1s, linear, infinite);
  }
  .js-arrow-down_md-off::after {
    @media (min-width: $md) {
      content: "";
    }
  }
  .js-arrow-down_off::after {
    content: "";
  }
}
// section finance
.section-finance {
  &__box-content {
    margin-bottom: 75px;
    position: relative;
    max-width: 1020px;
    @media (min-width: $lg) {
      margin-bottom: 100px;
    }
  }
  &__box-text {
    margin-bottom: 35px;
    text-align: center;
    @media (min-width: $lg) {
      padding-top: 50px;
      padding-left: 20px;
      text-align: left;
    }
    @media (min-width: $xl) {
      padding-top: 43px;
      padding-left: 43px;
      margin-right: -55px;
    }
  }
  &__heading {
    margin-bottom: 35px;
    font-size: 28px;
    @media (min-width: $sm) {
      font-size: 30px;
    }
    @media (min-width: $lg) {
      margin-bottom: 90px;
      padding-left: 57px;
    }
    @media (min-width: $xl) {
      font-size: 40px;
      letter-spacing: -1px;
      line-height: 1;
    }
    &_position {
      display: block;
      margin: 0;
      @media (min-width: $lg) {
        padding-left: 0;
      }
    }
  }
  &__box-card {
    margin: 0 auto;
    max-width: 407px;
    @media (min-width: $lg) {
      margin: 0;
    }
    @media (min-width: $xl) {
      margin-left: 3px;
    }
  }
  &__box-form {
    margin: 0 auto;
    max-width: 421px;
  }
  &__box-figure {
    display: none;
    @media (min-width: $lg) {
      display: block;
      position: absolute;
      bottom: -295px;
      left: 233px;
      z-index: 1;
    }
    @media (min-width: $xl) {
      bottom: -327px;
      left: 251px;
    }
    @media (min-width: $ultra) {
      bottom: -350px;
    }
  }
  &__figure {
    width: 340px;
    max-width: 400px;
    @media (min-width: $xl) {
      width: 385px;
    }
  }
  &__picture {
  }
}
// section procedure
.section-procedure {
  padding-top: 50px;
  padding-bottom: 50px;
  background-color: $swatch_8;
  @media (min-width: $lg) {
    padding-top: 75px;
  }
  @media (min-width: $xl) {
    padding-top: 90px;
    padding-bottom: 61px;
  }
  &__box-content {
    text-align: center;
  }
  &__box-content-top {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    max-width: 493px;
    @media (min-width: $md) {
      margin-bottom: 55px;
    }
    @media (min-width: $lg) {
      margin-bottom: 65px;
      max-width: 100%;
    }
    @media (min-width: $xl) {
      margin-bottom: 72px;
    }
  }
  &__heading {
    font-size: 28px;
    @media (min-width: $sm) {
      font-size: 30px;
    }
    @media (min-width: $xl) {
      font-size: 40px;
    }
  }
  &__subheading {
    font-size: 22px;
    color: $swatch_1;
    font-style: italic;
    font-weight: bold;
    @media (min-width: $sm) {
      font-size: 24px;
    }
    @media (min-width: $xl) {
      font-size: 31px;
    }
  }
  &__box-card {
  }
}
// section cost
.section-cost {
  padding-top: 90px;
  padding-bottom: 50px;
  min-height: 608px;
  position: relative;
  overflow: hidden;
  &__box-content {
    position: relative;
    text-align: center;
  }
  &__box-content-top {
    max-width: 350px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 35px;
    @media (min-width: $lg) {
      max-width: 100%;
    }
    @media (min-width: $xl) {
      margin-bottom: 61px;
      position: relative;
      left: 8px;
    }
  }
  &__heading {
    font-size: 28px;
    @media (min-width: $sm) {
      font-size: 30px;
    }
    @media (min-width: $xl) {
      font-size: 40px;
    }
  }
  &__box-form {
    @extend .section-finance__box-form;
    @media (min-width: $lg) {
      max-width: 600px;
    }
    @media (min-width: $xl) {
      max-width: 812px;
      position: relative;
      left: 8px;
    }
    .form-feedback .form-feedback__box-field {
      @media (min-width: $lg) {
        margin-right: 15px;
      }
      @media (min-width: $xl) {
        margin-right: 30px;
      }
    }
    .form-feedback .form-feedback__footer .form-feedback__group {
      @media (min-width: $lg) {
        margin-bottom: 8px;
      }
    }
    .form-feedback .form-feedback__footer {
      @media (min-width: $lg) {
        position: relative;
        top: -16px;
      }
    }
  }
  &__box-figure {
    display: none;
    @media (min-width: $lg) {
      display: block;
      max-width: 380px;
      position: absolute;
      bottom: -108px;
      right: -170px;
      z-index: 2;
    }
    @media (min-width: $xl) {
      max-width: 413px;
      bottom: -102px;
      right: -205px;
    }
  }
  &__figure {
    margin: 0;
    max-width: 100%;
    max-height: 502px;
  }
  &__picture {
    display: block;
  }
}
// section serve
.section-serve {
  position: relative;
  z-index: -1;
  @media (min-width: $lg) {
    padding-bottom: 13px;
  }
  @media (min-width: $xl) {
    padding-top: 90px;
    padding-bottom: 69px;
  }
  background-color: $swatch_8;
  &__box-content-top {
    @extend .section-cost__box-content-top;
    text-align: center;
    @media (min-width: $lg) {
      margin-bottom: 99px;
    }
    @media (min-width: $xl) {
      margin-bottom: 157px;
    }
  }
  &__heading {
    font-size: 28px;
    @media (min-width: $sm) {
      font-size: 30px;
    }
    @media (min-width: $xl) {
      font-size: 40px;
    }
  }
  &__box-card {
  }
}
// section step
.section-step {
  @media (min-width: $lg) {
    margin-bottom: 62px;
  }
  &__wrap {
    position: relative;
  }
  &__box-text {
    @extend .section-cost__box-content-top;
    margin-bottom: 50px;
    text-align: center;
    @media (min-width: $md) {
      max-width: 450px;
    }
    @media (min-width: $lg) {
      max-width: 550px;
      margin-bottom: 80px;
      position: relative;
      top: -10px;
    }
    @media (min-width: $xl) {
      max-width: 100%;
    }
  }
  &__heading {
    @extend .section-procedure__heading;
    @media (min-width: $lg) {
      margin-bottom: 24px;
    }
  }
  &__subheading {
    @extend .section-procedure__subheading;
    @media (min-width: $lg) {
      display: block;
      margin: 0 auto;
      width: 600px;
    }
    &_position {
      @media (min-width: $md) {
        display: block;
        margin-top: 8px;
      }
    }
  }
  &__box-figure {
    display: none;
    @media (min-width: $lg) {
      display: block;
      position: absolute;
      top: -160px;
      left: -222px;
      z-index: -1;
    }
    @media (min-width: $xl) {
      top: -217px;
      left: -266px;
    }
    @media (min-width: $xxl) {
      left: -385px;
    }
  }
  &__figure {
    margin: 0;
    max-width: 445px;
    max-height: 100%;
    @media (min-width: $xl) {
      max-width: 475px;
    }
    @media (min-width: $xxl) {
      max-width: 100%;
    }
  }
  &__picture {
  }
  &__box-infographics {
    margin-top: 0;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
    max-width: 561px;
    @media (min-width: $lg) {
      max-width: 850px;
      margin-bottom: 87px;
    }
    @media (min-width: $xl) {
      margin-bottom: 84px;
    }
  }
  &__slider-step {
    margin-bottom: 50px;
  }
}
// section work
.section-work {
  background-color: $swatch_8;
  padding-bottom: 30px;
  @media (min-width: $lg) {
    padding-bottom: 0;
  }
  &__wrap {
    @extend .section-step__wrap;
  }
  &__box-figure {
    display: none;
    @media (min-width: $lg) {
      display: block;
      position: absolute;
      top: -222px;
      right: -136px;
      z-index: 1;
    }
    @media (min-width: $xl) {
      right: -189px;
    }
  }
  &__figure {
    margin: 0;
    max-width: 243px;
    max-height: 100%;
  }
  &__picture {
  }
  &__box-text {
    @extend .section-step__box-text;
    @media (min-width: $md) {
      max-width: 100%;
    }
    @media (min-width: $lg) {
      margin-bottom: 67px;
    }
  }
  &__heading {
    @extend .section-step__heading;
    @media (min-width: $lg) {
      margin-bottom: 17px;
    }
  }
  &__subheading {
    @extend .section-step__subheading;
    @media (min-width: $md) {
      display: block;
      margin: 0 auto;
      width: 370px;
    }
    @media (min-width: $xl) {
      width: auto;
    }
  }
  &__slider-work {
    max-width: 100%;
    width: 100%;
    margin: 0 auto;
    @media (min-width: $lg) {
      width: auto;
    }
  }
}

// section guarantees
.section-guarantees {
  @extend .section-cost;
  padding-top: 100px;
  min-height: 414px;
  @media (min-width: $lg) {
    min-height: 614px;
  }
  &__box-content {
    position: relative;
  }
  &__box-content-top {
    @extend .section-cost__box-content;
    margin-bottom: 35px;
    margin-left: auto;
    margin-right: auto;
    max-width: 400px;
    @media (min-width: $md) {
      max-width: 500px;
    }
    @media (min-width: $lg) {
      max-width: 100%;
    }
    @media (min-width: $xl) {
      margin-bottom: 58px;
    }
  }
  &__heading {
    @extend .section-cost__heading;
  }
  &__box-form {
    @extend .section-cost__box-form;
  }
  &__box-form .form-feedback .form-feedback__box-button .button_font {
    position: relative;
    z-index: 3;
  }
  &__box-form
    .form-feedback
    .form-feedback__box-checkbox
    .form-feedback__txt-checkbox
    .form-feedback__link {
    position: relative;
    z-index: 3;
  }
  &__box-figure {
    display: none;
    @media (min-width: $lg) {
      display: block;
      max-width: 426px;
      max-height: 302px;
      position: absolute;
      top: 213px;
      right: -101px;
      z-index: 2;
    }
    @media (min-width: $xl) {
      right: -117px;
    }
    @media (min-width: $ultra) {
      top: 240px;
    }
  }
  &__figure {
    margin: 0;
    max-width: 100%;
  }
  &__picture {
    display: block;
  }
}
// section address
.section-address {
  position: relative;
  padding-top: 40px;
  @media (min-width: $lg) {
    padding-top: 0;
  }
  &__box-text {
    max-width: 400px;
    height: 100px;
    position: absolute;
    top: 60px;
    left: 50%;
    right: 50%;
    margin-right: -150px;
    margin-left: -150px;
    text-align: center;
    z-index: 1000;
    @media (min-width: $lg) {
      top: 75px;
    }
  }
  &__contact {
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 170px;
      height: 170px;
      position: absolute;
      top: -17%;
      left: 50%;
      margin-left: -85px;
      border-radius: 50%;
      box-shadow: 0 0 41px 60px $swatch_2;
      background-color: $swatch_2;
      z-index: -1;
      @media (min-width: $md) {
        box-shadow: 0 0 46px 73px $swatch_2;
      }
      @media (min-width: $lg) {
        box-shadow: 0 0 45px 75px $swatch_2;
      }
    }
  }
  &__title {
    display: block;
    margin-bottom: 20px;
    font-family: "Tinos";
    font-size: 22px;
    font-weight: bold;
    font-style: italic;
    color: $swatch_1;
    @media (min-width: $md) {
      font-size: 24px;
    }
    @media (min-width: $lg) {
      margin-bottom: 39px;
      font-size: 25px;
    }
  }
  &__txt {
  }
  &__link {
    display: block;
    margin-top: 19px;
    text-decoration: none;
    transition: 0.3s;
    &:hover {
      color: $swatch_16;
    }
  }
  &__txt {
    display: block;
    font-family: "Roboto";
    font-size: 14px;
    font-weight: 300;
    @media (min-width: $lg) {
      font-size: 17px;
    }
    &_big {
      font-weight: 500;
    }
  }
  &__box-map {
  }
  &__box-form {
    max-width: 323px;
    height: 100px;
    position: absolute;
    top: 517px;
    left: 50%;
    right: 50%;
    margin-right: -161px;
    margin-left: -161px;
    z-index: 1000;
    @media (min-width: $sm) {
      max-width: 435px;
      margin-right: -215px;
      margin-left: -215px;
    }
    @media (min-width: $md) {
      top: 486px;
      max-width: 590px;
      margin-right: -295px;
      margin-left: -295px;
    }
    @media (min-width: $lg) {
      top: 447px;
    }
    @media (min-width: $xl) {
      max-width: 880px;
      margin-right: -413px;
      margin-left: -399px;
    }
    @media (min-width: $ultra) {
      top: 398px;
    }
    .form-feedback {
      position: relative;
      padding-top: 0;
      border-color: $swatch_2;
      background-color: $swatch_2;
      .form-feedback__box-field {
        margin-right: 15px;
      }
    }
    .form-feedback__subtitle {
      font-size: 16px;
      @media (min-width: $lg) {
        font-size: 18px;
      }
      @media (min-width: $xl) {
        position: absolute;
        width: 198px;
        text-align: left;
        top: 56px;
        left: 52px;
      }
    }
    .form-feedback__group {
      @media (min-width: $xl) {
        position: relative;
        top: 15px;
        left: 122px;
      }
    }
    .form-feedback__field {
      @media (min-width: $xl) {
        position: relative;
        left: -10px;
      }
    }
    .form-feedback__box-checkbox {
      @media (min-width: $xl) {
        top: -22px;
        left: -76px;
      }
    }
    .form-feedback__txt-checkbox {
      @media (min-width: $xl) {
        font-size: 11px;
      }
    }
    .form-feedback__txt-inform {
      position: absolute;
      top: 65px;
      left: 41px;
      visibility: hidden;
      @media (min-width: $sm) {
        top: 47px;
        left: 95px;
      }
      @media (min-width: $md) {
        top: 141px;
        left: 193px;
      }
      @media (min-width: $xl) {
        top: 15px;
        left: 285px;
      }
    }
  }
}
