/*width*/

.width-1-1 {
  width: 100%;
}

.width-1-2 {
  width: 50%;
}

.width-1-3 {
  width: 33.33%;
}
.width-2-3 {
  width: 66.66%;
}
.width-1-4 {
  width: 25%;
}

.width-1-5 {
  width: 20%;
}

.width-1-6 {
  width: 16.66%;
}

.width-2-5 {
  width: 40%;
}

.width-3-5 {
  width: 60%;
}

.width-3-4 {
  width: 75%;
}

.width-4-5 {
  width: 80%;
}

/* small */
@media (min-width: 480px) {
  .width-1-1-sm {
    width: 100%;
  }

  .width-1-2-sm {
    width: 50%;
  }

  .width-1-3-sm {
    width: 33.33%;
  }
  .width-2-3-sm {
    width: 66.66%;
  }
  .width-1-4-sm {
    width: 25%;
  }

  .width-1-5-sm {
    width: 20%;
  }

  .width-1-6-sm {
    width: 16.66%;
  }

  .width-2-5-sm {
    width: 40%;
  }

  .width-3-5-sm {
    width: 60%;
  }

  .width-3-4-sm {
    width: 75%;
  }

  .width-4-5-sm {
    width: 80%;
  }
}

/* medium */
@media (min-width: 640px) {
  .width-1-1-md {
    width: 100%;
  }

  .width-1-2-md {
    width: 50%;
  }

  .width-1-3-md {
    width: 33.33%;
  }
  .width-2-3-md {
    width: 66.66%;
  }
  .width-1-4-md {
    width: 25%;
  }

  .width-1-5-md {
    width: 20%;
  }

  .width-1-6-md {
    width: 16.66%;
  }

  .width-2-5-md {
    width: 40%;
  }

  .width-3-5-md {
    width: 60%;
  }

  .width-3-4-md {
    width: 75%;
  }

  .width-4-5-md {
    width: 80%;
  }
}
/* large */
@media (min-width: 960px) {
  .width-1-1-lg {
    width: 100%;
  }

  .width-1-2-lg {
    width: 50%;
  }

  .width-1-3-lg {
    width: 33.33%;
  }
  .width-2-3-lg {
    width: 66.66%;
  }
  .width-1-4-lg {
    width: 25%;
  }

  .width-1-5-lg {
    width: 20%;
  }

  .width-1-6-lg {
    width: 16.66%;
  }

  .width-2-5-lg {
    width: 40%;
  }

  .width-3-5-lg {
    width: 60%;
  }

  .width-3-4-lg {
    width: 75%;
  }

  .width-4-5-lg {
    width: 80%;
  }
}
/* extra Large */
@media (min-width: 1200px) {
  .width-1-1-xl {
    width: 100%;
  }

  .width-1-2-xl {
    width: 50%;
  }

  .width-1-3-xl {
    width: 33.33%;
  }
  .width-2-3-xl {
    width: 66.66%;
  }
  .width-1-4-xl {
    width: 25%;
  }

  .width-1-5-xl {
    width: 20%;
  }

  .width-1-6-xl {
    width: 16.66%;
  }

  .width-2-5-xl {
    width: 40%;
  }

  .width-3-5-xl {
    width: 60%;
  }

  .width-3-4-xl {
    width: 75%;
  }

  .width-4-5-xl {
    width: 80%;
  }
}
/* extra extra Large */
@media (min-width: 1600px) {
  .width-1-1-xxl {
    width: 100%;
  }

  .width-1-2-xxl {
    width: 50%;
  }

  .width-1-3-xxl {
    width: 33.33%;
  }
  .width-2-3-xxl {
    width: 66.66%;
  }
  .width-1-4-xxl {
    width: 25%;
  }

  .width-1-5-xxl {
    width: 20%;
  }

  .width-1-6-xxl {
    width: 16.66%;
  }

  .width-2-5-xxl {
    width: 40%;
  }

  .width-3-5-xxl {
    width: 60%;
  }

  .width-3-4-xxl {
    width: 75%;
  }

  .width-4-5-xxl {
    width: 80%;
  }
}
