section.section.section-guarantees
  .container
    .section-guarantees__box-content
      .section-guarantees__box-content-top
        h2.section-guarantees__heading Гарантируем положительный результат!
      .section-guarantees__box-form
        -formFeedbackTitle = "Беремся за самые сложные дела"
        -formFeedbackSubtitle = "Получите бесплатно консультацию по своему вопросу"
        -formFeedbackBtnValue = "Получить инструкцию"
        include ../form/_form-feedback
      .section-guarantees__box-figure.wow.slideInRight(data-wow-offset="250")
        figure.section-guarantees__figure
          img.section-guarantees__picture(src="img/hammer.png", alt="hammer")

