section.section.section-work
  .container
    .section-work__wrap
      .section-work__box-figure
        figure.section-work__figure.wow.slideInRight(data-wow-offset="350")
          img.section-work__picture(src="img/coat-of-arms.png", alt="coat of arms")
      .section-work__box-text
        h2.section-work__heading Опыт работы? - Более 10&nbsp;лет!
        span.section-work__subheading Посмотрите наши успешные решения по делам:
      .section-work__slider-work
        include ../slider/_slider-work
section.section.section-work-test
