section.section.section-hero
  .section-hero__content-top.section-hero__content-top_figure-triangle
    .container
      .section-hero__box-content-text
        h1.section-hero__heading Банкротство
          span.section-hero__heading.section-hero__heading_position  физических лиц
        span.section-hero__subtitle в г. Архангельск
  .section-hero__content-bottom.js-arrow-down.js-arrow-down_md-off
    .section__background
      img.section__picture(src="img/bg-hero.jpg", alt="background")
    .section__foreground
      .container
          .section-hero__box-content
            .section-hero__box-figure
              figure.section-hero__figure.wow.slideInLeft(data-wow-offset="150")
                img.section-hero__picture(src="img/man.png", alt="man")
            .section-hero__box-slider
              include ../slider/_slider-hero
            .section-hero__wrap
              .section-hero__box-figure.section-hero__box-figure_hide.section-hero__box-figure_visible.section-hero__box-figure_position.animated.slideInRight
                figure.section-hero__figure.section-hero__figure_size
                  img.section-hero__picture(src="img/calc.png", alt="calc")



