section.section.section-step
  .container
    .section-step__wrap
      .section-step__box-figure
        figure.section-step__figure.wow.slideInLeft(data-wow-offset="350")
          img.section-step__picture(src="../img/book.png", alt="book")
    .section-step__box-text
      h2.section-step__heading Сколько длится процедура банкротства?
      span.section-step__subheading В среднем, процедура банкротства&nbsp;
        span.section-step__subheading_position длится от 6 до 12 месяцев
    .section-step__box-infographics
      include ../card/_card-infographics
    .section-step__slider-step
      include ../slider/_slider-step
