section.section.section-procedure
  .container
    .section-procedure__box-content
      .section-procedure__box-content-top
        h2.section-procedure__heading Сложная процедура банкротства?
        span.section-procedure__subheading С нами это легко!
      .section-procedure__box-card
        include ../card/_card-info
