section.section.section-address
  .section-address__box-text
    .section-address__contact
      span.section-address__title Вы можете найти нас по&nbsp;адресу:
      span.section-address__txt г. Архангельск ул. Тимме, д. 77
      .section-address__box-link
        a.section-address__link(href="tel:88182635000")
          span.section-address__txt.section-address__txt_big +8 (818) 263-50-00
  .section-address__box-map
    .map#mapCity
  .section-address__box-form
    -formFeedbackTitle = ""
    -formFeedbackSubtitle = "Договориться о встрече на удобное для вас время:"
    -formFeedbackBtnValue = "Получить инструкцию"
    include ../form/_form-feedback
