section.section.section-serve
  .container
    .section-serve__box-content-top
      h2.section-serve__heading Удобно ли с нами работать?
    .section-serve__box-card
      include ../card/_card-feature
