// animation
@mixin animationColor(
  $name,
  $property,
  $color1,
  $color2,
  $duration,
  $animFunc,
  $count
) {
  @keyframes #{$name} {
    0% {
      #{$property}: $color1;
    }
    25% {
      #{$property}: $color1;
    }
    35% {
      #{$property}: $color2;
    }
    50% {
      #{$property}: $color2;
    }
    75% {
      #{$property}: $color2;
    }
    85% {
      #{$property}: $color1;
    }
    100% {
      #{$property}: $color1;
    }
  }
  animation: #{$name};
  animation-duration: #{$duration};
  animation-timing-function: #{$animFunc};
  animation-iteration-count: #{$count};
}

// It is recommended that the element has absolute positioning.
@mixin animationMoving(
  $name,
  $direction,
  $numOffset,
  $duration,
  $animFunc,
  $count
) {
  @keyframes #{$name} {
    0% {
      margin-#{$direction}: 0;
    }
    50% {
      margin-#{$direction}: #{$numOffset}px;
    }
    100% {
      margin-#{$direction}: 0;
    }
  }
  animation: #{$name};
  animation-duration: #{$duration};
  animation-timing-function: #{$animFunc};
  animation-iteration-count: #{$count};
}

//animation show window
@mixin animationShowHide(
  $name,
  $initial,
  $average,
  $final,
  $duration,
  $animFunc
) {
  @keyframes #{$name} {
    0% {
      opacity: $initial;
    }
    50% {
      opacity: $average;
    }
    100% {
      opacity: $final;
    }
  }
  animation: #{$name};
  animation-duration: #{$duration};
  animation-timing-function: #{$animFunc};
}

// pagination appearance
@mixin paginationAppearance($color, $brakePoint) {
  background-color: $swatch_4;
  transition: background-color 0.2s ease-in-out;
  opacity: 1;
  @media (min-width: $brakePoint) {
    width: 10px;
    height: 10px;
  }
}
@mixin paginationAppearanceHover($color) {
  background-color: $color;
  transition: background-color 0.8s ease-in-out;
}
@mixin paginationAppearanceDistance($RightDistance, $LeftDistance) {
  margin-top: 0;
  margin-right: #{$RightDistance}px;
  margin-bottom: 0;
  margin-left: #{$LeftDistance}px;
}
@mixin paginationAppearanceActive($color) {
  background: $color;
}
