block variables
doctype html
html(lang="ru")
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel="apple-touch-icon", sizes="180x180", href="img/favicon/apple-touch-icon.png")
    link(rel="icon", type="image/png", sizes="32x32", href="img/favicon/favicon-32x32.png")
    link(rel="icon", type="image/png", sizes="16x16", href="img/favicon/favicon-16x16.png")
    link(rel="manifest", href="img/favicon/site.webmanifest")
    link(rel="mask-icon", href="img/favicon/safari-pinned-tab.svg", color="#5bbad5")
    meta(name="msapplication-TileColor", content="#2d89ef")
    meta(name="theme-color", content="#ffffff")
    meta(property="og:image:width" content="279")
    meta(property="og:image:height" content="186")
    meta(property="og:url" content= urlSite)
    meta(property="og:image" content=  pathSiteOgImg)
    meta(property="og:title" content="Банкротство физических лиц в г. Архангельск")
    meta(property="og:description" content="За последний год работы мы уже помогли более, чем 150 клиентам выйти из трудной ситуации!")
    title= pageTitle
    link(rel='stylesheet' href= pathCss)
  body.page
    .content-wrap
      block content
      block foot
    block script
