.modal#modalWindow
  .modal__box-button
    button#btnCloseModal.button-close
  .modal__box-content
    -let formFeedbackTitle = "Мы свяжется с вами "
    -let formFeedbackSubtitle = "чтобы обговорить финансовые проблемы"
    -let formFeedbackBtnValue = "Перезвоните мне"
    include ../form/_form-feedback
