extends ../templates/_base.pug
block variables
  -let urlSite = "http://bankrot.technoninja-xp.h1n.ru"
  -let pathSiteOgImg = "http://bankrot.technoninja-xp.h1n.ru/img/og-img.jpg"
  -let pageTitle = "Bankruptcy"
  -let pathCss ="css/main-min.css"
block content
  include ../modules/header/_header
  include ../modules/section/_section-hero
  main.main
    include ../modules/section/_section-finance
    include ../modules/section/_section-procedure
    include ../modules/section/_section-cost
    include ../modules/section/_section-serve
    include ../modules/section/_section-step
block foot
block script
  script(src="libs/libs-min.js")
  script(src="js/common-min.js")
